#btnRegistrar {
    -fx-background-color: green;
}
#btnRegistrar:hover {
    -fx-background-color: limegreen;
}
#btnRegistrar:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

#btnIniciar {
    -fx-background-color: #17FF75;
    -fx-text-fill: black; /* opcional, para que se vea mejor */
}
#btnIniciar:hover {
    -fx-background-color: #13cc5d;
}
#btnIniciar:pressed {
    -fx-background-color: #0f9947;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}